<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
    <div class="container">
        <h1>Multipart File Upload</h1>
        <form action="/excel" id="form" enctype="multipart/form-data">
            <div class="input-group">
                <label for="files">Select files</label>
                <input id="file" type="file" />
            </div>
            <button class="submit-btn" type="submit">Upload</button>
        </form>
    </div>
    <script src="index.js"></script>
</body>
</html>