<!DOCTYPE html>
<html xmlns:th= "http://www.thymeLeaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student Management System</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

.gradient-custom {
    /* fallback for old browsers */
    background: #30cfd0;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(48,207,208,0.5), rgba(51,8,103,0.5));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(48,207,208,0.5), rgba(51,8,103,0.5))
  }
</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="gradient-custom">
<nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
  <div class="container">
    <a class="navbar-brand" href="#">Student Management Systems</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
     	<li class="nav-item">
     		<a class="nav-link" th:href="@{/cources}">Course Details</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{/list}">Home</a>
		</li>
      </ul>
    </div>
  </div>
</nav>
<div class="text-center container">
	<div class="alert alert-info ">
		<form enctype="multipart/form-data"
			th:action="@{/achievs/{uname}(uname=${session.uname})}"
			method="POST">
			<Strong>Add Your Achievement!!!</strong>(file size must be less than 2MB)<p></p>
			<input class="form-control text-center" style="width:365px;margin:auto;" type="text" name="desc" placeholder="Enter the description about your Achievement:-)"/>
			<input style="display:none;" id="imgs" class="hidden" type="file"
				name="fileimage" accept="image/png, image/jpeg"><p></p>
			<label for="imgs"><a class="btn btn-outline-dark btn-sm mb-3" style="font-weight:bold;"onMouseOut="this.style.color='black'"onMouseOver="this.style.color='white'">Upload Certificate</a>
	       </label><br>
			<input class="btn btn-sm btn-outline-primary" style="margin:auto;" id="submit"
				type="submit"><br>
		</form>
	</div> 
</div>
	<div class="container text-center">
		<div class="card">
		<table class="table">
			<thead th:each="ach :${achieve}" class="table-white">
				<tr>
					<td><img alt="" th:src="*{'data:image/jpeg;base64,'+{ach.img}}"
					style="width: 500px;border:2px solid black; height: 250px;" class="img-circle img-responsive"></td></tr>
				<tr >
					<td th:text = "${ach.desc}"></td>
				</tr>
			</thead>
		</table>
	</div>
	</div>
				<script>
				$(function() {
					$('#profile-image1').on('click', function() {
						$('#profile-image-upload').click();
					});
				});
				$(document).ready(function() {
					$('#profile-image-upload').change(function() {
						$('#submit').removeAttr('disabled');
					});
				});
			</script> 
</body>
</html>