<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="ISO-8859-1">
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<style>
input.hidden {
	position: absolute;
	left: -9999px;
}
body {
  background: url('https://almashines.s3.dualstack.ap-southeast-1.amazonaws.com/assets/images/gallary_photos/t1597239902_DkdQssf50L.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
#profile-image1 {
	cursor: pointer;
	width: 100px;
	height: 100px;
	border: 2px solid #03b1ce;
}

.tital {
	font-size: 16px;
	font-weight: 500;
}

.bot-border {
	border-bottom: 1px #f8f8f8 solid;
	margin: 5px 0 5px 0
}
</style>
<title>Student Management Systems </title>

<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<div class="container" style="margin-top:3vh;font-weight:bold;">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
				<div class="panel panel-default">
					<div class="panel-heading" style="background-color:darkmagenta;">
						<h4 style="font-weight:bold;color:white;">User Profile</h4>
					</div>
					<div class="panel-body text-center"th:each="student: ${teacher}">
						<div class="box box-info">
							<div class="box-body ">
								<div class="col-sm-6">
									<div align="center">
										<img alt=""
											th:src="*{'data:image/jpeg;base64,'+{student.image}}"
											style="width: 100px; height: 100px;" id="profile-image1"
											class="img-circle img-responsive">
										<form enctype="multipart/form-data"
											th:action="@{/addimagetec/{uname}(uname=${student.uname})}"
											method="POST">
											<input id="profile-image-upload" class="hidden" type="file"
												name="fileimage" accept="image/png, image/jpeg"> <input
												disabled="disabled" class="btn btn-light btn-sm" id="submit"
												type="submit">
										</form>
										<div style="color: #999;">click image to change profile photo</div>
									</div>

									<br>
								</div>
								<div class="col-sm-6">
									<h4 style="color: #00b1b1;">Teacher Id:</h4>
									<h4 style="color: #00b1b1;" th:text="${student.tecid}"></h4>
								</div>
								<form th:action="@{/intrested/{uname}(uname=${student.uname}+' '+${session.yer})}">
									<input type="submit" class=" btn btn-outline-dark btn-sm mb-3" style="color:brown;font-weight:bold;" value="Add Intrested Subjects!!!">
								</form>
								<p></p>
								<form th:action="@{/asks/{year}(year=${session.yer})}"
										method="post">
										<input type="submit" class=" btn btn-outline-dark btn-sm mb-3" style="font-weight:bold;" value="Change Password?">
								</form> 
								<div class="clearfix"></div>
								<hr style="margin: 5px 0 5px 0;">

								<div class="col-sm-5 col-xs-6 tital "  style="font-variant:small-caps;">Name:</div>
								<div class="col-sm-7" th:text="${student.name}"></div>
								<div class="clearfix"></div>
								<div class="bot-border"></div>

								<div class="col-sm-5 col-xs-6 tital " style="font-variant:small-caps;">Date Of BIrth:</div>
								<div class="col-sm-7" th:text="${student.dob}"></div>
								<div class="clearfix"></div>
								<div class="bot-border"></div>

								<div style="font-variant:small-caps;" class="col-sm-5 col-xs-6 tital ">Phone:</div>
								<div class="col-sm-7" th:text="${student.phone}">></div>
								<div class="clearfix"></div>
								<div class="bot-border"></div>
								
								<div style="font-variant:small-caps;"  class="col-sm-5 col-xs-6 tital ">Email:</div>
								<div class="col-sm-7" th:text="${student.email}"></div>
								<div class="clearfix"></div>
								<div class="bot-border"></div>
								
								<div style="font-variant:small-caps;" class="col-sm-5 col-xs-6 tital ">Designation:</div>
								<div class="col-sm-7" th:text="${student.disignation}"></div>
								<div class="clearfix"></div>
								<div class="bot-border"></div>
								
								<div style="font-variant:small-caps;" class="col-sm-5 col-xs-6 tital ">Experience:</div>
								<div class="col-sm-7" th:text="${student.experience}"></div>
								<div class="clearfix"></div>
								<div class="bot-border"></div>
								
								<div style="font-variant:small-caps;" class="col-sm-5 col-xs-6 tital ">Second year:</div>
								<div class="col-sm-7" th:text="${student.sub1}+' , '+${student.sub11}"></div>
								<div class="clearfix"></div>
								<div class="bot-border"></div>
								
								<div style="font-variant:small-caps;" class="col-sm-5 col-xs-6 tital ">Third year:</div>
								<div class="col-sm-7" th:text="${student.sub2}+' , '+${student.sub22}"></div>
								<div class="clearfix"></div>
								<div class="bot-border"></div>
								
								<div style="font-variant:small-caps;" class="col-sm-5 col-xs-6 tital ">Final Year:</div>
								<div class="col-sm-7" th:text="${student.sub3}+' , '+${student.sub33}"></div>
								<div class="clearfix"></div>
								<div class="bot-border"></div>
							</div>
						</div>
				<div>
					<a th:href="@{/teacherlog}" class="btn btn-primary" type="submit">Logout</a>
				</div>
			<script>
				$(function() {
					$('#profile-image1').on('click', function() {
						$('#profile-image-upload').click();
					});
				});
				$(document).ready(function() {
					$('#profile-image-upload').change(function() {
						$('#submit').removeAttr('disabled');
					});
				});
			</script>
		</div>
	</div>
</div>
</div>
</div>
</body>
</html>